@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2518ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1910b5;
}

/* Custom CSS */
.btn {
  @apply bg-colorPrimary text-white font-bold py-4 px-8 rounded-full uppercase;
}

/* Animations */
.navcta:hover .navcta_icon {
  transform: translateX(5px);
}

.serviceshover:hover .servicesicon {
  transform: translateX(30px) rotate(45deg);
}

/* Animations */
.services-cards:hover h4,
.services-cards:hover p,
.services-cards:hover .services-icon {
  color: white;
}

.services-cards:hover img {
  filter: invert(1);
}
