@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.btn {
  @apply bg-colorPrimary text-white font-bold py-4 px-8 rounded-full uppercase;
}

/* Animations */
.navcta:hover .navcta_icon {
  transform: translateX(5px);
}

.serviceshover:hover .servicesicon {
  transform: translateX(30px) rotate(45deg);
}

/* Animations */
.services-cards:hover h4,
.services-cards:hover p,
.services-cards:hover .services-icon {
  color: white;
}

.services-cards:hover img {
  filter: invert(1);
}
